name: Deploy Let-Us-Dine

on:
    push:
        branches: ["main"]

jobs:
    deploy:
        runs-on: self-hosted

        steps:
            - name: Checkout code
              uses: actions/checkout@v3

            - name: Deploy Backend
              working-directory: ./backend
              run: |
                  npm ci
                  npx prisma generate
                  npx prisma migrate deploy
                  npm run build

            - name: Restart Backend
              working-directory: ./backend
              run: pm2 restart backend || pm2 start ecosystem.config.js

            - name: Deploy Frontend
              working-directory: ./frontend
              run: |
                  npm ci
                  npm run build

            - name: Reload nginx
              run: sudo systemctl reload nginx
