name: Deploy Let-Us-Dine

on:
    push:
        branches: ["main"]

jobs:
    deploy:
        runs-on: self-hosted

        steps:
            - name: Checkout code
              uses: actions/checkout@v3

            - name: Set backend env variables
              working-directory: ./backend
              run: |
                  echo "DATABASE_URL=${{ secrets.DATABASE_URL }}" >> .env
                  echo "ADMIN_API_KEY=${{ secrets.ADMIN_API_KEY }}" >> .env
                  echo "GOOGLE_PLACES_API_KEY=${{ secrets.GOOGLE_PLACES_API_KEY }}" >> .env
                  echo "FRONTEND_URL=${{ secrets.FRONTEND_URL }}" >> .env

            - name: Deploy Backend
              working-directory: ./backend
              run: |
                  npm i
                  npx prisma generate
                  npx prisma migrate deploy
                  npm run build

            - name: Restart Backend
              working-directory: ./backend
              run: pm2 restart backend || pm2 start ecosystem.config.js

            - name: Set backend env variables
              working-directory: ./frontend
              run: |
                  echo "VITE_API_URL=${{ secrets.VITE_API_URL }}" >> .env

            - name: Deploy Frontend
              working-directory: ./frontend
              run: |
                  npm i
                  npm run build

            - name: Reload nginx
              run: sudo systemctl reload nginx
